---
# Helpers:
# {{ $GitHubUser := env "GITHUB_ACTOR"}}
# {{ $GitHubRepositoryList := env "GITHUB_REPOSITORY" | split "/"}}
# {{ $GitHubPAT := env "GITHUB_TOKEN"}}
# {{ $GitHubUsername := env "GITHUB_ACTOR"}}}

name : 'deps: Bump Node version in Netlify configuration'
pipelineid: '{{ .pipelineid }}'

# Only enable the scm section if Updatecli is executed from a Github Action
# {{ if or (.scm.enabled) (env "GITHUB_REPOSITORY") }}
actions:
    default:
        title: 'deps: bump nodejs to {{ source "node" }}'
        kind: "github/pullrequest"
        spec:
            automerge: {{ .automerge }}
# {{ if .labels }}
            labels:
# {{ range .labels }}
                - {{ . }}
# {{ end }}
# {{ end }}
            mergemethod: "squash"
        scmid: "default"

scms:
    default:
        kind: "github"
        spec:
            # Priority set to the environment variable
            user: '{{ default $GitHubUser .scm.user }}'
# {{ if .scm.email }}
            email: '{{ .scm.email }}'
# {{ end }}
            owner: '{{ default $GitHubRepositoryList._0 .scm.owner }}'
            repository: '{{ default $GitHubRepositoryList._1 .scm.repository }}'
            token: '{{ default $GitHubPAT .scm.token }}'
            username: '{{ default $GitHubUsername .scm.username }}'
            branch: '{{ .scm.branch }}'
#{{ if .scm.commitusingapi }}
      commitusingapi: {{ .scm.commitusingapi }}
# {{ end }}
# {{ end }}

sources:
    majornodeversion:
        name: "Get latest NodeJS version"
        kind: "githubrelease"
        transformers:
            - trimprefix: v
            - findsubmatch:
                pattern: ^(\d*)
                captureindex: 0
        spec:
            owner: "nodejs"
            repository: "node"
            token: '{{ default .scm.token $GitHubPAT }}'
            username: '{{ default .scm.username $GitHubUsername }}'
            versionfilter:
                kind: "semver"
                pattern: '{{ .versionpattern }}'
    node:
        name: "Get latest NodeJS version"
        kind: "githubrelease"
        spec:
            owner: "nodejs"
            repository: "node"
            token: '{{ default .scm.token $GitHubPAT }}'
            username: '{{ default .scm.username $GitHubUsername }}'
            versionfilter:
                kind: "semver"
                pattern: '{{ .versionpattern }}'
        transformers:
            - trimprefix: v
targets:
    netlify:
        name: 'deps: update Node used by Netlify to {{ source "node" }}'
        kind: file
        disablesourceinput: true
        spec:
            file: netlify.toml
            matchpattern: NODE_VERSION = "(.*)"
            replacepattern: NODE_VERSION = "{{ source "node" }}"
# Only enable the scm section if Updatecli is executed from a Github Action
# {{ if or (.scm.enabled) (env "GITHUB_REPOSITORY") }}
        scmid: default
# {{ end }}
