name: Test Typos
on: [pull_request]
jobs:
  run:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Check spelling of file.txt
        uses: crate-ci/typos@aa61a9e2eda9964cde7997a6beb4f02a13692533 # renovate/actions-checkout-5.x
