name: Test Typos
on: [pull_request]
permissions: {}
jobs:
  run:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Check spelling of file.txt
        uses: crate-ci/typos@54c8b96227477b80460dac87aa30228dd94da1ec # renovate/stable-1.x
