name: Validate Policies
on:
  workflow_dispatch:
  pull_request:
  push:
jobs:
  validate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup updatecli
        uses: updatecli/updatecli-action@031d2a5842f7483074970e8df5da0ae4f9c5e051 # v2
      - name: Setup releasepost
        uses: updatecli/releasepost-action@864390bddae97db06ee881ab4a08d159b4464643 # v0.5.0
      - name: Validate
        run: make test
      - uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        # Only run e2e tests from the main branch as we need some credentials
        # that we don't want to risk leaking from pullrequest opened by random contributors
        if: github.ref == 'refs/heads/main'
        id: generate_testing_token
        with:
          app_id: ${{ secrets.UPDATECLIBOT_TESTING_APP_ID }}
          private_key: ${{ secrets.UPDATECLIBOT_TESTING_APP_PRIVKEY }}
      - name: e2e tests
        # Only run e2e tests from the main branch as we need some credentials
        # that we don't want to risk leaking from pullrequest opened by random contributors
        if: github.ref == 'refs/heads/main'
        run: make e2e-test
        env:
          GITHUB_TOKEN: ${{ steps.generate_testing_token.outputs.token }}
          RELEASEPOST_GITHUB_TOKEN: ${{ steps.generate_testing_token.outputs.token }}
